params {
    input = null
    outdir = null
    step = null
    fasta = null
    fasta_index = null
    cpg_list = null
    snp_list = null
    meta = null
    reference_beta_zscore_matrix = null
    ncpgs = null
    threshold = null
    snp_depth_threshold = null
    snp_est_mode = null
    beta_depth_threshold = null
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

profiles {
    test { includeConfig 'conf/test.config' }
    early { includeConfig 'conf/early.config' }
    alioth_local { 
        includeConfig 'conf/alioth_local.config'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
    alioth_slurm { 
        includeConfig 'conf/alioth_slurm.config' 
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
}

cleanup = true

manifest {
    author = 'vanreality'
    name = 'trisomy_detection_workflow'
    description = 'A workflow for trisomy detection'
    version = 'dev1.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}