params {
    input = null // input samplesheet with columns: sample, clean_bam, deconv_res
    outdir = null // output directory
    step = null // start step: preprocess, deconv, split_bam, beta_zscore, rc_zscore
    fasta = null // reference genome fasta file
    fasta_index = null // reference genome fasta index
    cpg_list = null // cpg list file
    snp_list = null // snp list file
    meta = null // meta samplesheet
    reference_beta_zscore_matrix = null // reference episcore matrix file
    ncpgs = null // cpg number to filter reads
    threshold = null // read probability threshold to split bam
    snp_depth_threshold = null // snp depth threshold to estimate ff
    snp_est_mode = null // snp estimation mode: all, chr_exclude, chr_only
    beta_depth_threshold = null // cpg depth threshold to estimate ff
    report_allosomes = null // report allosomes: true, false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss') // trace report suffix
}

workDir = "/lustre1/cqyi/AIPT_2.0/tmp/episcore_workflow_tmp_dir"

profiles {
    test { includeConfig 'conf/test.config' }
    early { includeConfig 'conf/early.config' }
    early_240k { includeConfig 'conf/early_240k.config' }
    middle { includeConfig 'conf/middle.config' }
    filter_size { includeConfig 'conf/filter_size.config' }
    at_analyze { includeConfig 'conf/at_analyze.config' }
    at_ref { includeConfig 'conf/at_ref.config' }
    grid_search { includeConfig 'conf/grid_search.config' }
    alioth_local { 
        includeConfig 'conf/alioth_local.config'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
    alioth_slurm { 
        includeConfig 'conf/alioth_slurm.config' 
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
    dev { 
        includeConfig 'conf/dev.config' 
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2"
    }
}

cleanup = true

manifest {
    author = 'vanreality'
    name = 'episcore_trisomy_detection_workflow'
    description = 'A workflow for trisomy detection using episcore'
    version = 'dev1.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}