params {
    input = "/lustre1/cqyi/syfan/nf_autogluon_infer/data/220k_panel/at_infered_analyze_samplesheet.csv"
    step = "split_bam"
    fasta = "${projectDir}/assets/hg38_only_chromsomes.fa"
    fasta_index = "${projectDir}/assets/hg38_only_chromsomes.fa.fai"
    cpg_list = "${projectDir}/assets/CpG_recall0.65.txt"
    snp_list = "${projectDir}/assets/snps_in_220kprobes_v2.tsv"
    reference_beta_zscore_matrix = "${projectDir}/assets/at_early_reference_beta_zscore.tsv"
    threshold = 0.5
    ncpgs = 0
    snp_depth_threshold = 30
    snp_est_mode = "all"
    beta_depth_threshold = 30
}