params {
    step = "split_bam"
    fasta = "${projectDir}/assets/hg38_only_chromsomes.fa"
    fasta_index = "${projectDir}/assets/hg38_only_chromsomes.fa.fai"
    cpg_list = "${projectDir}/assets/cpgs_in_240k_probes.txt"
    snp_list = "${projectDir}/assets/snps_in_240k_probes.tsv"
    reference_beta_zscore_matrix = "${projectDir}/assets/early_reference_beta_zscore.tsv"
    threshold = 0.5
    ncpgs = 0
    snp_depth_threshold = 30
    snp_est_mode = "all"
    beta_depth_threshold = 30
}

executor {
    queueSize = 100
    pollInterval = '1s'
    submitRateLimit = '5 / 1s'
}

process {
    executor = 'slurm'

    errorStrategy = 'retry'
    maxRetries = 3

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'METHYLDACKEL.*' {
        container = "${baseDir}/containers/methyldackel.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
        ext.args = '-@ 8 --mergeContext'
        // publishDir = [ enabled: false ]
    }

    withName: 'SAMTOOLS_INDEX.*' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
        // publishDir = [ enabled: false ]
    }

    withName: 'EXTRACT_BETA_VALUE' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 2.h
        queue     = 'cn-long'
        // publishDir = [ enabled: false ]
    }

    withName: 'MERGE_DECONV_RES' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 64.GB
        time      = 2.h
        queue     = 'cn-long'
        // publishDir = [ enabled: false ]
    }

    withName: 'REPLACE_DECONV_PROB' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 64.GB
        time      = 2.h
        queue     = 'cn-long'
        publishDir = [ enabled: false ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        container = "${baseDir}/containers/picard_3.4.0.sif"
        cpus      = 8
        memory    = 32.GB
        time      = 3.h
        queue     = 'cn-long'
        ext.args  = '--REMOVE_DUPLICATES true --CREATE_INDEX true'
        ext.prefix = 'input'
        publishDir = [ enabled: false ]
    }

    withName: 'SAMTOOLS_MERGE' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
        publishDir = [ enabled: false ]
    }

    withName: 'SPLIT_BAM_BY_DECONV_RES' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
        // publishDir = [ enabled: false ]
    }

    withName: 'BAM_TO_PILEUP' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 2.h
        queue     = 'cn-long'
    }

    withName: 'SNP_TO_FF' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 2.h
        queue     = 'cn-long'
    }

    withName: 'ESTIMATE_FF_HIGHER_PRECISION' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 2.h
        queue     = 'cn-long'
    }

    withName: 'BETA_TO_ZSCORE' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 2.h
        queue     = 'cn-long'
    }

    withName: 'GENERATE_REPORT' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
    }

    withName: 'COLLECT_REPORTS' {
        container = "${baseDir}/containers/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 1.h
        queue     = 'cn-long'
    }
}