params {
    step = "split_bam"
    fasta = "${projectDir}/assets/hg38_only_chromsomes.fa"
    fasta_index = "${projectDir}/assets/hg38_only_chromsomes.fa.fai"
    cpg_list = "${projectDir}/assets/CpG_recall0.65.txt"
    snp_list = "${projectDir}/assets/snps_in_240k_probes.tsv"
    reference_beta_zscore_matrix = "${projectDir}/assets/240k_early_reference_episcore_220krecall0.65.tsv"
    threshold = 0.5
    ncpgs = 0
    snp_depth_threshold = 30
    snp_est_mode = "all"
    beta_depth_threshold = 30
}