params {
    input = 'assets/test_samplsheet_from_step_split_bam.csv'
    outdir = 'test'
    step = 'split_bam'
    fasta = 'assets/hg38_only_chromsomes.fa'
    fasta_index = 'assets/hg38_only_chromsomes.fa.fai'
    cpg_list = 'assets/CpG_recall0.65.txt'
    snp_list = 'assets/snps_in_220kprobes_v2.tsv'
    reference_beta_zscore_matrix = 'assets/early_reference_beta_zscore.tsv'
    threshold = 0.5
    ncpgs = 0
    snp_depth_threshold = 30
    snp_est_mode = 'chr_exclude,chr_only,all'
    beta_depth_threshold = 30
}